body {background-color: black;}
h1 {color: white;}
p {color: white;}
code {color: white;}
header {
    background-color: rgb(56, 56, 56);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}